canvas {
    display: block;
    margin: 0 auto;
}

.replay {
    margin-left: 814px;
    margin-top: 15px;
    position: absolute;
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(23, 130, 9);
}